/* .container {
    margin: 20px;
    display: grid;
    height: 500px;
    grid-template-columns: [hd-start] repeat(4, [col-start] 25% [col-end]) [hd-end];
    grid-template-rows: [hd-start] 5rem [hd-end row-2-start] minmax(10px, auto) [row-2-end row-3-start] 100px;
    /* grid-column-gap: 20px;
    grid-row-gap: 10px; 
    grid-gap: 10px 20px;
    grid-template-areas: "header header header header"
                         ". . main main"
                         "footer footer footer footer"
}

.el1 {
    background: rgba(255, 154, 72, 0.5);
    grid-column: col-start 2 / col-end 2
}

.el2 {
    background: rgba(255, 0, 0, 0.5);
    /* grid-column-start: 1;
    grid-column-end: -1; 
    grid-column: 1 / -1;
    /* grid-row-start: row-2-start;
    grid-row-end: span 1; */
    /* grid-row: row-2-start / span 1; 
    grid-area: main;
    z-index: 10;
}

.el3 {
    background: rgba(0, 128, 0, 0.5);
    /* grid-column-start: 2;
    grid-column-end: span 3; 
    grid-row-start: row-1-start;
    grid-row-end: row-2-end; 
    grid-area: hd;
}

.el4 {
    background: rgba(0, 4, 255, 0.5);
    grid-area: footer;
}  */

html {
    height: 100%;
}

body {
    display: grid;
    margin: 20px;
    height: 100%;
    grid-template-columns: [col-1-start] 8% [col-2-start] 3fr [col-2-end];
    grid-template-rows: [row-1-start] 4.5rem [row-2-start row-1-end] auto [row-3-start row-2-end] 4.5rem [row-3-end];
    grid-gap: 5px 5px;
}

header {
    background: blue;
    color: white;
    grid-column-start: col-1-start;
    grid-column-end: col-2-end; 
}

main {
    background: red;
    color: white;
    grid-column-start: col-2-start;
    grid-column-end: span 1;
}

aside {
    background: rgb(140, 26,255 );
    color: white;
    grid-column-start: col-1-start;
    grid-row-start: row-2-start;
}

footer {
    background: purple;
    color: white;
    grid-column-start: col-1-start;
    grid-column-end: col-2-end;
} 